{% extends "Frame.html" %}

{% block title %}
    About US
{% endblock title %}

{% block content %}


<div id="section3" class="container-fluid">
  <div class="container">
      <h1>About</h1><br><br/>
        <div class="row">
    <div class="col-sm-4">
      <h4>Maria Rumpler</h4><br>
      <img src="https://scontent.fvie1-1.fna.fbcdn.net/v/t1.0-9/10363133_10207147386516006_8171992410608843107_n.jpg?_nc_cat=0&oh=1efe75b7bbfd6d792fd97e8ff7a62d07&oe=5BDE63D0" class="img-circle person" alt="Maria Rumpler" width="255" height="255">
    </div>
    <div class="col-sm-4">
      <h4>Michael Payne</h4><br>
      <img src="https://scontent.fvie1-1.fna.fbcdn.net/v/t1.0-9/12541049_1090970437602947_2212246154694232423_n.jpg?_nc_cat=0&oh=304cf83c0ed0ce889b27a6096811a9cd&oe=5BDDC26E" alt="Michael Payne" class="img-circle person" width="255" height="255">
    </div>
    <div class="col-sm-4">
      <h4>Max Normal</h4><br>
      <img src="https://scontent.fvie1-1.fna.fbcdn.net/v/t1.0-9/35762292_2212702628747791_654748338138120192_n.jpg?_nc_cat=0&oh=e12bb448c02c3339e42b1db93f34cb60&oe=5BE51140" alt="Max Normal" class="img-circle person" width="255" height="255">
    </div>
  </div>
  </div>
</div>


{% endblock content %}