{% extends "Frame.html" %}

{% block title %}
    Travel Projects
{% endblock title %}

{% block content %}

<div class="container">
  <h2>My Projects</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="xx" target="_blank">
          <img src="https://scontent.fvie1-1.fna.fbcdn.net/v/t1.0-9/13256382_1185612288138761_3088083314892827468_n.jpg?_nc_cat=0&oh=d82e095d84a011f396da072316910887&oe=5BB2C6D8" alt="Sólfar" style="width:100%">
          <div class="caption">
            <p>Entdecken Sie die Hauptstadt Islands, Reykjavík</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="xx" target="_blank">
          <img src="https://scontent.fvie1-1.fna.fbcdn.net/v/t1.0-9/13312838_1185612501472073_2367299307999647158_n.jpg?_nc_cat=0&oh=9492a7479b75bd433c33e42e6dffb226&oe=5BB70D8F" alt="Bláa Lónið" style="width:100%">
          <div class="caption">
            <p>Erholen Sie sich im Thermalfreibad, Blaue Lagune</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="xx" target="_blank">
          <img src="https://scontent.fvie1-1.fna.fbcdn.net/v/t1.0-9/13266122_1185611484805508_2082877511481712416_n.jpg?_nc_cat=0&oh=20e46f95d1a3b00e346cec5e950af0c1&oe=5BBB4091" alt="Gljúfrafoss" style="width:100%">
          <div class="caption">
            <p>Lassen Sie sich von der Vielfalt Islands beeindrucken</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}